<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Word Up!</title>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>

    <!-- our CSS -->
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>

    <h1 class="game-title">Word Up!</h1>

    <main class="mount-point">

        <section id="pregame">

            <div id="scoreboard">
                <div>
                    <h5>Time Remaining</h5>
                    <h2 class="scoreboard-data">{{ secondsRemaining }}</h2>
                </div>
                <div>
                    <h5>Score</h5>
                    <h2 class="scoreboard-data">{{ currentScore }}</h2>
                </div>
            </div>

            <input type="submit" value="New Game" @click="startGame()"/>
        

        <section id="game">
            <p>Spell as many words as you can using only these letters</p>
           
            <div class="letter-chips">
                    <letter-chip class="letter-chip" v-for="letter in allowedLetters" :letter="letter" :value="letterScore(letter)">{{ letter }}</letter-chip>
                
            </div>
            <div
                id="word-attempt-form"
                :class="{ 'contains-disallowed': !containsOnlyAllowedLetters }"
            >   
                <input type="text" id="userInput" v-model="currentAttempt" :disabled="gameIsOver" 
                @keyup.enter="addNewWordSubmission(currentAttempt)" autofocus/>

                <br>
                <div class="disallowed-letters">
                    <li v-for="(letter) in disallowedLettersInWord">
                        
                        <span>{{ letter }}</span>
                    </li>
                </div>
            </div>

            <div id="word-submissions" v-for="word in wordSubmissions">
                    
                    <submitted-word :word="word.word" :score="wordScore(word.word)" :loading="word.loading" :is-real-word="word.isRealWord" v-if="word.isRealWord">{{ word }}</submitted-word>
                </div>
        </section>
    </main>

    <script type="text/x-template" id="letter-chip-template">
        <span class="letter-chip">
            {{ letter }}
            <span class="chip-value">
                {{ value }}
            </span>
        </span>
    </script>

    <script type="text/x-template" id="submitted-word-template">
        <span class="submitted-word">
            {{ word }}
            <span v-if="loading" class="submitted-word-loading">
                ...
            </span>
            <span v-else-if="isRealWord" class="submitted-word-success">
                {{ score }}
            </span>
            <span v-else-if="!isRealWord" class="submitted-word-not-real">
                &times;
            </span>
        </span>
    </script>

    <script src="scripts/wordup.js"></script>
</body>
